body, div, img, input, p, h1, form, ul, li, h2, dl, dt, dd {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

li {
  list-style: none; }

img {
  display: block; }

em {
  font-style: normal;
  font-weight: 400; }

body {
  background: #f7f7f7; }

.header-top-all {
  background: #f2f2f2;
  height: 28px;
  width: 100%;
  border-bottom: 1px solid #e5e5e5; }

.header-top {
  width: 1090px;
  margin: 0 auto; }
  .header-top ul {
    line-height: 28px;
    font-size: 12px; }
    .header-top ul li a:hover {
      color: #ed145b; }
  .header-top .header-top-left {
    float: left; }
    .header-top .header-top-left li {
      float: left;
      margin-right: 20px;
      color: #6c6c6c; }
      .header-top .header-top-left li a {
        color: #6c6c6c; }
  .header-top .header-top-right {
    float: right; }
    .header-top .header-top-right li {
      margin-left: 14px;
      float: left; }
      .header-top .header-top-right li a {
        color: #999; }
    .header-top .header-top-right .shouchang i {
      display: inline-block;
      width: 12px;
      height: 11px;
      vertical-align: middle;
      background: url(../images/header_sprites1.png) no-repeat; }
    .header-top .header-top-right .myJumei:hover i {
      transform: rotate(180deg);
      transition: transform 0.5s; }
    .header-top .header-top-right .myJumei {
      position: relative;
      padding-right: 14px;
      padding-left: 14px; }
      .header-top .header-top-right .myJumei i {
        display: inline-block;
        width: 6px;
        height: 3px;
        vertical-align: middle;
        margin-left: 4px;
        background: url(../images/header_newicon1.png) no-repeat; }
      .header-top .header-top-right .myJumei ul {
        background: white;
        z-index: 10;
        position: absolute;
        width: 120px;
        display: none;
        box-shadow: 0px 0px 3px #999999;
        left: -34px; }
        .header-top .header-top-right .myJumei ul li {
          float: none;
          margin: 0; }
          .header-top .header-top-right .myJumei ul li a {
            margin-left: 20px; }
    .header-top .header-top-right .onPhone {
      margin-left: 5px; }
      .header-top .header-top-right .onPhone i {
        display: inline-block;
        width: 10px;
        height: 14px;
        vertical-align: middle;
        margin-left: 4px;
        background: url(../images/header_sprites1.png) no-repeat 0 -21px;
        margin-bottom: 2px;
        margin-right: 3px; }
      .header-top .header-top-right .onPhone a {
        padding-left: 5px;
        padding-right: 10px;
        color: #ed145b;
        border-left: 1px solid #999;
        border-right: 1px solid #999; }
    .header-top .header-top-right .more:hover i {
      transform: rotate(180deg);
      transition: transform 0.5s; }
    .header-top .header-top-right .more {
      position: relative;
      padding-left: 10px;
      padding-right: 10px;
      margin-left: 15px; }
      .header-top .header-top-right .more ul {
        z-index: 10;
        position: absolute;
        width: 120px;
        display: none;
        background: white;
        box-shadow: 0px 0px 3px #999999;
        left: -65px; }
        .header-top .header-top-right .more ul li {
          float: none;
          margin: 0; }
          .header-top .header-top-right .more ul li a {
            margin-left: 20px; }
      .header-top .header-top-right .more i {
        display: inline-block;
        width: 6px;
        height: 3px;
        vertical-align: middle;
        margin-left: 4px;
        background: url(../images/header_newicon1.png) no-repeat; }

.header-logo-all {
  background: white; }

.header-logo {
  height: 110px;
  width: 1090px;
  margin: 0 auto;
  overflow: hidden; }
  .header-logo .logo {
    margin-top: 13px;
    float: left; }
  .header-logo .header-logo-center {
    float: left;
    margin-left: 124px;
    margin-top: 28px; }
    .header-logo .header-logo-center form input {
      width: 423px;
      height: 18px;
      padding: 7px 5px;
      border: solid #ed145b;
      border-width: 3px 0 3px 3px;
      font-size: 12px;
      color: #999;
      outline: 0 none; }
    .header-logo .header-logo-center form a {
      text-align: center;
      display: block;
      width: 100px;
      height: 38px;
      border: 0 none;
      color: #fff;
      font-size: 14px;
      line-height: 38px;
      float: right;
      background: #ed145b;
      cursor: pointer;
      padding: 0; }
    .header-logo .header-logo-center ul {
      margin-top: 5px; }
    .header-logo .header-logo-center ul li {
      padding: 0 8px;
      float: left;
      font-size: 12px;
      border-left: 1px solid #999; }
      .header-logo .header-logo-center ul li a {
        color: #999; }
    .header-logo .header-logo-center ul li a:hover {
      color: #ed145b; }
    .header-logo .header-logo-center ul li:nth-of-type(1) {
      border: none;
      padding-left: 0; }
  .header-logo .header-logo-right {
    float: right;
    margin-top: 33px; }
    .header-logo .header-logo-right a {
      display: block;
      width: 138px;
      height: 32px;
      line-height: 32px;
      border: 1px solid #e5e5e5;
      position: relative;
      background: #fff;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); }
    .header-logo .header-logo-right img {
      vertical-align: bottom;
      float: left;
      width: 28px;
      height: 28px;
      margin: 0 9px 0 9px; }
    .header-logo .header-logo-right span {
      width: 86px;
      height: 32px;
      line-height: 32px;
      color: #666;
      overflow: hidden;
      float: left;
      padding-left: 6px;
      background: #f8f8f8;
      font-size: 12px; }
    .header-logo .header-logo-right i {
      opacity: 0;
      width: 27px;
      height: 30px;
      line-height: 30px;
      position: absolute;
      display: block;
      font-size: 12px;
      color: white;
      text-align: center;
      left: 35px;
      top: -10px;
      font-style: normal;
      background: url(../images/header_sprites1.png) no-repeat 0 -66px; }

.header-bottom {
  height: 38px;
  width: 100%;
  background: url(../images/nav_new_line.jpg); }
  .header-bottom .header-nav {
    width: 1090px;
    margin: 0 auto;
    position: relative; }
    .header-bottom .header-nav ul .mzsc:hover i {
      background: url("../images/header_newicon1.png");
      transform: rotate(180deg);
      transition: transform .2s; }
    .header-bottom .header-nav .header_pop_subAtc {
      width: 1190px;
      position: absolute;
      background: #fff;
      left: 0;
      display: none;
      top: 38px; }
      .header-bottom .header-nav .header_pop_subAtc .mz_imglist {
        width: 254px;
        float: left;
        margin: 10px; }
        .header-bottom .header-nav .header_pop_subAtc .mz_imglist a {
          width: 254px;
          height: 134px;
          overflow: hidden;
          margin-bottom: 10px;
          display: block; }
      .header-bottom .header-nav .header_pop_subAtc .mz_inner {
        float: left;
        width: 800px;
        margin-top: 10px; }
        .header-bottom .header-nav .header_pop_subAtc .mz_inner dl {
          width: 256px;
          float: left;
          height: 104px;
          overflow: hidden;
          border: dotted #e5e5e5;
          border-width: 0 0 1px 1px;
          margin-left: -1px;
          padding: 10px 0 22px 7px; }
          .header-bottom .header-nav .header_pop_subAtc .mz_inner dl .item_int {
            background-position: 5px -170px; }
          .header-bottom .header-nav .header_pop_subAtc .mz_inner dl .item_hufu {
            background-position: 10px 4px; }
          .header-bottom .header-nav .header_pop_subAtc .mz_inner dl .item_caizhuang {
            background-position: 10px -22px; }
          .header-bottom .header-nav .header_pop_subAtc .mz_inner dl .item_xiangfen {
            background-position: 8px -113px; }
          .header-bottom .header-nav .header_pop_subAtc .mz_inner dl .item_nanshi {
            background-position: 10px -140px; }
          .header-bottom .header-nav .header_pop_subAtc .mz_inner dl .item_hot {
            background-position: 10px -82px; }
          .header-bottom .header-nav .header_pop_subAtc .mz_inner dl dt {
            background: url("../images/new_header_icon.png") no-repeat;
            line-height: 30px;
            height: 30px;
            overflow: hidden;
            padding-left: 40px;
            margin-bottom: 12px; }
          .header-bottom .header-nav .header_pop_subAtc .mz_inner dl dd {
            float: left;
            padding: 0 12px; }
            .header-bottom .header-nav .header_pop_subAtc .mz_inner dl dd a {
              color: #666;
              font-size: 12px;
              font-weight: 400;
              display: inline;
              width: auto;
              height: auto;
              line-height: 24px;
              text-align: left;
              background: 0;
              white-space: nowrap; }
          .header-bottom .header-nav .header_pop_subAtc .mz_inner dl dt a {
            font-size: 15px;
            font-weight: 700;
            color: #333;
            text-decoration: none;
            text-align: left;
            background: 0;
            white-space: nowrap;
            display: inline;
            font-family: "\5FAE\8F6F\96C5\9ED1",arial,"\5b8b\4f53"; }
    .header-bottom .header-nav ul {
      overflow: hidden;
      float: left; }
      .header-bottom .header-nav ul li:nth-of-type(1) {
        padding: 0 40px;
        background: #ed145b; }
      .header-bottom .header-nav ul li:nth-of-type(4) {
        position: relative; }
        .header-bottom .header-nav ul li:nth-of-type(4) i {
          top: 19px;
          right: 7px;
          position: absolute;
          display: block;
          width: 6px;
          height: 3px;
          background: url(../images/popheadarrow01.png); }
      .header-bottom .header-nav ul li {
        padding: 0 22px;
        float: left; }
        .header-bottom .header-nav ul li a:hover {
          color: #999; }
        .header-bottom .header-nav ul li a {
          display: block;
          line-height: 38px;
          color: white;
          font-size: 14px; }
    .header-bottom .header-nav span {
      display: inline-block;
      width: 30px;
      height: 30px;
      vertical-align: -9px;
      float: right;
      margin-right: 3px;
      margin-top: 5px; }
    .header-bottom .header-nav span:nth-of-type(1) {
      background: url(../images/z03.jpg); }
    .header-bottom .header-nav span:nth-of-type(2) {
      background: url(../images/z02.jpg); }
    .header-bottom .header-nav span:nth-of-type(3) {
      background: url(../images/z_01new.jpg); }

.footer {
  background: white;
  overflow: hidden;
  border-top: 1px solid #ccc; }
  .footer .footer-top {
    width: 1090px;
    margin: 0 auto;
    padding: 30px 0 15px 0;
    border-bottom: 1px solid #ccc;
    overflow: hidden; }
    .footer .footer-top .first_link {
      width: 130px; }
    .footer .footer-top .final_link {
      width: 134px; }
    .footer .footer-top .third-link {
      width: 160px; }
    .footer .footer-top .fourth-link {
      width: 168px; }
    .footer .footer-top .sixth-link {
      width: 158px; }
    .footer .footer-top b {
      display: block;
      color: #333;
      font-size: 16px;
      line-height: 24px; }
    .footer .footer-top a {
      width: 170px;
      height: 140px;
      color: #999;
      font-size: 14px;
      display: block;
      float: left;
      line-height: 18px;
      overflow: hidden;
      text-align: center; }
      .footer .footer-top a .icon {
        width: 63px;
        height: 63px;
        display: block;
        overflow: hidden;
        margin: 0 auto 20px;
        cursor: pointer;
        background: url(../images/footer_0901.jpg); }
      .footer .footer-top a .two {
        background-position: -64px 0; }
      .footer .footer-top a .three {
        background-position: -128px 0; }
      .footer .footer-top a .four {
        background-position: -191px 0; }
      .footer .footer-top a .five {
        background-position: -254px 0; }
      .footer .footer-top a .six {
        background-position: -315px 0; }
      .footer .footer-top a .seven {
        background-position: -380px 0; }
  .footer .footer-center {
    width: 1090px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 20px;
    overflow: hidden; }
    .footer .footer-center .jumei-onphone {
      width: 83px; }
      .footer .footer-center .jumei-onphone li {
        text-align: center; }
      .footer .footer-center .jumei-onphone .app-ma {
        margin-left: 4px;
        width: 78px;
        height: 78px;
        background: url(../images/header_corn_new_v2.png) no-repeat 0 -423px; }
    .footer .footer-center .jumei-vx {
      width: 83px;
      text-align: center;
      padding-left: 36px;
      margin-top: 0;
      height: 146px;
      color: #666; }
      .footer .footer-center .jumei-vx .vx-ma {
        margin-left: 4px;
        width: 78px;
        height: 78px;
        background: url(../images/jumei_weixin_footer.png); }
    .footer .footer-center ul {
      width: 156px;
      height: 143px;
      padding-left: 16px;
      float: left;
      zoom: 1;
      overflow: hidden; }
      .footer .footer-center ul li {
        white-space: nowrap;
        font-size: 12px;
        color: #666; }
      .footer .footer-center ul .title {
        color: #666;
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 10px; }
      .footer .footer-center ul li:hover a {
        color: #ea1d5d;
        transform: translateX(10px);
        -moz-transform: translateX(10px);
        -webkit-transform: translateX(10px); }
      .footer .footer-center ul li a {
        font-size: 12px;
        height: 22px;
        line-height: 22px;
        color: #666;
        display: block;
        transition: transform .4s linear;
        -moz-transition: transform .4s linear;
        -webkit-transition: transform .4s linear; }
  .footer .footer-pic {
    height: 95px;
    background: url(../images/footer_dy.jpg) center top; }
  .footer .footer-bottom-top {
    height: 48px;
    line-height: 48px;
    overflow: hidden;
    font-size: 12px;
    color: #fff;
    background: url(../images/footer_btm02_bg.jpg) repeat-x; }
    .footer .footer-bottom-top .footer-bottom-top-list {
      width: 1090px;
      margin: 0 auto; }
      .footer .footer-bottom-top .footer-bottom-top-list a {
        color: #fff;
        padding-right: 12px;
        height: 48px;
        display: inline-block; }
  .footer .footer-bottom-copyright {
    background: url(../images/newindex_footer_bg.png);
    line-height: 20px;
    padding-bottom: 80px;
    color: #ccc; }
    .footer .footer-bottom-copyright .copyright-top {
      width: 1090px;
      margin: 0 auto; }
      .footer .footer-bottom-copyright .copyright-top .copyright-content {
        padding: 14px 0 18px;
        line-height: 23px;
        font-size: 12px; }
        .footer .footer-bottom-copyright .copyright-top .copyright-content a {
          color: #ccc; }
    .footer .footer-bottom-copyright .copy-logo {
      width: 126px;
      height: 50px;
      overflow: hidden;
      display: inline-block;
      margin-right: 8px;
      background: url(../images/footer_btm_icon.png); }
    .footer .footer-bottom-copyright .logo02 {
      background-position: -126px 0; }
    .footer .footer-bottom-copyright .logo03 {
      background-position: -252px 0; }
    .footer .footer-bottom-copyright .logo04 {
      background-position: -378px 0; }
    .footer .footer-bottom-copyright .logo05 {
      background-position: -504px 0; }
    .footer .footer-bottom-copyright .logo06 {
      background: url(../images/bz.jpg);
      width: 55px;
      height: 50px; }

.content {
  width: 1090px;
  margin: 0 auto;
  margin-top: 50px;
  background: white;
  overflow: hidden;
  padding-top: 20px;
  padding-left: 20px; }
  .content .cont-left {
    position: relative;
    float: left; }
    .content .cont-left #zoomBox {
      position: relative;
      margin: 20px;
      width: 400px;
      border: 1px solid #CECECE; }
    .content .cont-left #zoom {
      display: none;
      position: absolute;
      width: 200px;
      height: 200px;
      background: yellow;
      opacity: .5; }
    .content .cont-left #bigArea {
      display: none;
      position: absolute;
      left: 350px;
      top: -1px;
      overflow: hidden; }
    .content .cont-left .fdj {
      display: none;
      overflow: hidden;
      width: 350px;
      height: 350px;
      border: 2px solid #efefef;
      position: absolute;
      right: -350px;
      top: 0; }
      .content .cont-left .fdj img {
        width: 700px;
        height: 700px;
        position: absolute; }
    .content .cont-left .cont-pic {
      border: 1px solid #efefef;
      width: 350px;
      height: 350px; }
      .content .cont-left .cont-pic img {
        width: 350px;
        height: 350px; }
  .content .cont-right {
    float: left;
    width: 634px;
    margin-left: 30px; }
    .content .cont-right .cont-right-top {
      overflow: hidden; }
      .content .cont-right .cont-right-top p {
        float: left;
        color: #666;
        font-size: 14px; }
      .content .cont-right .cont-right-top div {
        float: right; }
        .content .cont-right .cont-right-top div img {
          float: left;
          width: 60px;
          height: 40px;
          border-radius: 4px;
          border: 1px solid #eee;
          margin-right: 10px; }
        .content .cont-right .cont-right-top div ul {
          float: left; }
          .content .cont-right .cont-right-top div ul li {
            font-size: 16px;
            color: #666;
            line-height: 20px;
            width: 116px;
            white-space: nowrap; }
    .content .cont-right .cont-right-introduce {
      font-size: 16px;
      line-height: 166%;
      color: #333;
      word-wrap: break-word;
      margin: 24px 0; }
    .content .cont-right .cont-right-price ul {
      overflow: hidden; }
      .content .cont-right .cont-right-price ul li {
        float: left; }
      .content .cont-right .cont-right-price ul li:nth-of-type(1) {
        color: #333; }
        .content .cont-right .cont-right-price ul li:nth-of-type(1) em {
          font-size: 20px;
          vertical-align: 8px;
          margin-right: 6px;
          font-style: normal;
          font-weight: 400; }
        .content .cont-right .cont-right-price ul li:nth-of-type(1) span {
          font-size: 36px;
          font-family: arial; }
      .content .cont-right .cont-right-price ul li:nth-of-type(2) {
        color: #666;
        font-size: 14px;
        margin-left: 20px;
        line-height: 2.3; }
      .content .cont-right .cont-right-price ul li:nth-of-type(3) {
        float: right;
        color: #666;
        cursor: pointer;
        font-size: 12px; }
    .content .cont-right .by {
      font-size: 12px;
      color: #8e8e8e;
      margin-top: 20px; }
    .content .cont-right .xh {
      font-size: 12px;
      margin-top: 20px; }
      .content .cont-right .xh a {
        text-align: center;
        display: inline-block;
        padding: 1px 10px;
        margin-right: 5px;
        margin-bottom: 8px;
        color: #a34fb5;
        border: 1px solid #a34fb5; }
    .content .cont-right .addgwc {
      margin-top: 20px;
      display: block;
      background-color: #ed145b;
      font-size: 16px;
      text-align: center;
      cursor: pointer;
      width: 183px;
      height: 41px;
      line-height: 41px;
      color: #fff; }
    .content .cont-right .month-sale {
      color: #8e8e8e;
      margin-top: 12px;
      font-size: 14px; }
      .content .cont-right .month-sale em {
        color: #fd4d87;
        margin-left: 3px;
        font-size: 14px;
        font-weight: 700; }

/*# sourceMappingURL=details.css.map */
