.body-right {
  position: fixed;
  right: 0;
  top: 0;
  width: 40px;
  height: 100%;
  background: #444851; }
  .body-right .gouwuche-list {
    display: none;
    position: absolute;
    right: 40px;
    height: 100%;
    width: 287px;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    border-radius: 5px 0 0 5px;
    background: white;
    padding-left: 10px; }
    .body-right .gouwuche-list span {
      background: none;
      display: inline;
      float: none;
      font-size: 12px; }
    .body-right .gouwuche-list .gouwuche-top {
      height: 38px;
      line-height: 38px;
      border-bottom: 1px solid #dedede;
      color: #333;
      font-size: 14px;
      font-weight: 700;
      width: 267px; }
      .body-right .gouwuche-list .gouwuche-top p {
        float: left; }
      .body-right .gouwuche-list .gouwuche-top a {
        float: right;
        display: block;
        background: url("../images/ibar_sprites.png") no-repeat 5px -267px;
        width: 20px;
        height: 20px;
        padding: 5px; }
      .body-right .gouwuche-list .gouwuche-top p span {
        float: none;
        margin: 0 0 0 5px;
        font-size: 12px;
        display: inline;
        background: none;
        color: #ed145b;
        display: none; }
        .body-right .gouwuche-list .gouwuche-top p span i {
          display: none;
          color: #333333;
          font-style: normal; }
    .body-right .gouwuche-list .gouwuche-null {
      background: url("../images/cart_empty_bg.jpg") no-repeat 50% 20px;
      width: 100%;
      height: 269px; }
    .body-right .gouwuche-list .gouwuche-isthing {
      display: none;
      height: 70%;
      overflow: auto; }
      .body-right .gouwuche-list .gouwuche-isthing .jmyp {
        height: 34px;
        line-height: 34px;
        border-bottom: 1px solid #dedede; }
      .body-right .gouwuche-list .gouwuche-isthing ul li {
        padding: 15px 0;
        border-bottom: 1px dotted #ddd;
        list-style: none;
        overflow: auto; }
        .body-right .gouwuche-list .gouwuche-isthing ul li > a {
          float: left; }
          .body-right .gouwuche-list .gouwuche-isthing ul li > a img {
            width: 85px;
            height: 85px;
            border: 1px solid #f4f4f4; }
        .body-right .gouwuche-list .gouwuche-isthing ul li .thing-content {
          float: left;
          width: 163px;
          padding: 3px 0 0 10px; }
          .body-right .gouwuche-list .gouwuche-isthing ul li .thing-content a {
            color: #5c5c5c;
            font-size: 12px; }
            .body-right .gouwuche-list .gouwuche-isthing ul li .thing-content a span {
              margin: 0 2px 0 0;
              color: #851b97; }
          .body-right .gouwuche-list .gouwuche-isthing ul li .thing-content b {
            font-style: normal;
            font-weight: 400;
            font-size: 12px; }
          .body-right .gouwuche-list .gouwuche-isthing ul li .thing-content .thing-model {
            font-size: 12px;
            width: 160px;
            height: 24px;
            line-height: 24px;
            color: #999;
            margin-top: 10px; }
      .body-right .gouwuche-list .gouwuche-isthing .gouwuche-price {
        position: absolute;
        bottom: 10px;
        padding-top: 10px;
        display: block; }
        .body-right .gouwuche-list .gouwuche-isthing .gouwuche-price a {
          display: block;
          height: 33px;
          line-height: 33px;
          width: 262px;
          font-size: 19px;
          font-family: SimHei;
          color: #fff;
          text-align: center;
          text-decoration: none;
          background: #ed145b;
          margin: 0 auto; }
        .body-right .gouwuche-list .gouwuche-isthing .gouwuche-price p {
          overflow: hidden;
          margin: 8px auto; }
          .body-right .gouwuche-list .gouwuche-isthing .gouwuche-price p span {
            background: none;
            display: inline;
            float: none;
            font-size: 12px;
            height: auto;
            width: auto; }
          .body-right .gouwuche-list .gouwuche-isthing .gouwuche-price p span:nth-of-type(1) {
            float: left; }
            .body-right .gouwuche-list .gouwuche-isthing .gouwuche-price p span:nth-of-type(1) b {
              font-weight: normal;
              color: #ed145b; }
          .body-right .gouwuche-list .gouwuche-isthing .gouwuche-price p span:nth-of-type(2) {
            float: right;
            font-weight: 700;
            font-size: 16px;
            font-family: "Microsoft YaHei","Microsoft JhengHei",STHeiti,MingLiu;
            color: #ed145b; }
    .body-right .gouwuche-list .gouwuche-price {
      display: none;
      padding-top: 10px;
      display: block; }
      .body-right .gouwuche-list .gouwuche-price a {
        display: block;
        height: 33px;
        line-height: 33px;
        width: 262px;
        font-size: 19px;
        font-family: SimHei;
        color: #fff;
        text-align: center;
        text-decoration: none;
        background: #ed145b;
        margin: 0 auto; }
      .body-right .gouwuche-list .gouwuche-price p {
        overflow: hidden;
        margin: 8px auto; }
        .body-right .gouwuche-list .gouwuche-price p span {
          background: none;
          display: inline;
          float: none;
          font-size: 12px;
          height: auto;
          width: auto; }
        .body-right .gouwuche-list .gouwuche-price p span:nth-of-type(1) {
          float: left; }
          .body-right .gouwuche-list .gouwuche-price p span:nth-of-type(1) b {
            font-weight: normal;
            color: #ed145b; }
        .body-right .gouwuche-list .gouwuche-price p span:nth-of-type(2) {
          float: right;
          font-weight: 700;
          font-size: 16px;
          font-family: "Microsoft YaHei","Microsoft JhengHei",STHeiti,MingLiu;
          color: #ed145b; }
  .body-right span {
    float: left;
    display: block;
    width: 18px;
    height: 19px;
    background: url(../images/ibar_sprites.png); }
  .body-right .right-top li:nth-of-type(1) a:hover span {
    background-position: -33px 0; }
  .body-right .right-top li:nth-of-type(2) a:hover span:nth-of-type(1) {
    background-position: -33px -29px; }
  .body-right .right-top li:nth-of-type(3) a:hover span {
    background-position: -33px -57px; }
  .body-right .right-top li:nth-of-type(4) a:hover span {
    background-position: -33px -85px; }
  .body-right .right-top li:nth-of-type(5) a:hover span {
    background-position: -36px -110px; }
  .body-right .right-top {
    top: 20%;
    position: absolute;
    background: #444851;
    z-index: 2; }
  .body-right .right-top li > a:hover {
    background: #ed145b; }
    .body-right .right-top li > a:hover p {
      display: block;
      left: -92px; }
  .body-right .right-top li > a {
    display: block;
    width: 40px;
    height: 38px;
    text-align: center;
    color: #d8d8d8;
    background-color: #444851;
    position: relative;
    z-index: 1; }
  .body-right .head-portrait span {
    margin: 10px 0 0 10px; }
  .body-right .touxiang .islogin-box {
    display: none;
    width: 267px;
    height: 185px;
    padding: 10px;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    border-radius: 5px 0 0 5px;
    z-index: 5;
    position: absolute;
    top: 0px;
    right: 40px; }
    .body-right .touxiang .islogin-box .ibar_closebtn {
      width: 20px;
      height: 20px;
      display: block;
      padding: 5px;
      overflow: hidden;
      background: url(../images/ibar_sprites.png) no-repeat 5px -267px;
      position: absolute;
      top: 4px;
      right: 4px; }
    .body-right .touxiang .islogin-box .login_btnbox {
      width: 267px;
      height: 79px;
      border-top: 1px dotted #d5d5d5;
      overflow: hidden;
      padding-top: 15px;
      clear: both; }
      .body-right .touxiang .islogin-box .login_btnbox a {
        width: 94px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        border: 1px solid;
        color: #333;
        text-decoration: none;
        float: left;
        border-color: #e9e9e9;
        background: url(../images/ibar_sprites.png) repeat-x 0 -408px; }
      .body-right .touxiang .islogin-box .login_btnbox a:hover {
        background-position: 0 -366px;
        border-color: #fccadb; }
      .body-right .touxiang .islogin-box .login_btnbox .login_order {
        margin: 0 10px 0 35px; }
      .body-right .touxiang .islogin-box .login_btnbox .login_favorite {
        border-color: #e9e9e9; }
    .body-right .touxiang .islogin-box .avatar_box {
      height: 118px;
      width: 267px; }
      .body-right .touxiang .islogin-box .avatar_box p {
        font-size: 14px;
        color: #333;
        text-align: center; }
        .body-right .touxiang .islogin-box .avatar_box p a {
          color: #ed145b; }
      .body-right .touxiang .islogin-box .avatar_box .avatar_imgbox {
        margin: 10px auto 10px;
        width: 62px;
        height: 62px;
        border-radius: 50px; }
        .body-right .touxiang .islogin-box .avatar_box .avatar_imgbox img {
          display: inline;
          border-radius: 50%; }
    .body-right .touxiang .islogin-box .login_box {
      display: none;
      height: 118px;
      width: 267px; }
      .body-right .touxiang .islogin-box .login_box p {
        font-size: 14px;
        color: #333;
        text-align: center; }
        .body-right .touxiang .islogin-box .login_box p a {
          color: #ed145b; }
      .body-right .touxiang .islogin-box .login_box .login_imgbox {
        margin: 10px auto 10px;
        width: 62px;
        height: 62px;
        border-radius: 50px;
        float: left;
        margin: 14px 15px 0 33px;
        display: inline; }
        .body-right .touxiang .islogin-box .login_box .login_imgbox img {
          display: inline;
          border-radius: 50%; }
      .body-right .touxiang .islogin-box .login_box .user_info {
        overflow: hidden;
        color: #333;
        padding-top: 20px;
        line-height: 24px;
        width: 157px;
        float: left; }
        .body-right .touxiang .islogin-box .login_box .user_info li {
          height: 24px;
          line-height: 24px;
          overflow: hidden;
          white-space: nowrap;
          padding: 0;
          font-size: 12px; }
  .body-right .touxiang .islogin-box:after {
    content: "";
    display: block;
    width: 5px;
    height: 9px;
    position: absolute;
    background: url(../images/ibar_sprites.png) no-repeat 0 -253px;
    right: 5px;
    top: 0;
    right: -5px;
    top: 7%; }
  .body-right .right-top li:nth-of-type(2) {
    padding: 20px 0 10px; }
  .body-right .right-top li .gouwuche {
    font-size: 12px;
    box-sizing: border-box;
    padding: 9px;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 133px;
    background: url(../images/ibar_sprites.png) no-repeat -23px -225px; }
    .body-right .right-top li .gouwuche span:nth-of-type(1) {
      width: 23px;
      height: 18px;
      background-position: 0 -29px;
      margin-bottom: 10px; }
    .body-right .right-top li .gouwuche span:nth-of-type(2) {
      width: 23px;
      height: 23px;
      border-radius: 50%;
      background: #ed145b;
      text-align: center;
      line-height: 23px;
      margin-top: 10px;
      cursor: pointer;
      color: #fff; }
  .body-right .money p:after {
    content: "";
    display: block;
    width: 5px;
    height: 9px;
    position: absolute;
    background: url(../images/ibar_sprites.png) no-repeat 0 -234px;
    right: -5px;
    top: 50%;
    margin-top: -4px; }
  .body-right .money p {
    transition: left 0.5s;
    display: none;
    top: 0;
    left: -120px;
    font-size: 12px;
    height: 38px;
    line-height: 38px;
    width: 92px;
    position: absolute;
    background: #444851;
    color: #d8d8d8;
    text-align: center;
    z-index: 10; }
  .body-right .money span {
    margin: 10px 0 0 10px;
    width: 18px;
    height: 18px;
    background: url(../images/ibar_sprites.png) no-repeat 0 -57px; }
  .body-right .heart p:after {
    content: "";
    display: block;
    width: 5px;
    height: 9px;
    position: absolute;
    background: url(../images/ibar_sprites.png) no-repeat 0 -234px;
    right: -5px;
    top: 50%;
    margin-top: -4px; }
  .body-right .heart p {
    transition: left 0.5s;
    display: none;
    top: 0;
    left: -120px;
    font-size: 12px;
    height: 38px;
    line-height: 38px;
    width: 92px;
    position: absolute;
    background: #444851;
    color: #d8d8d8;
    text-align: center;
    z-index: 10; }
  .body-right .heart span {
    margin: 10px 0 0 10px;
    width: 18px;
    height: 15px;
    background: url(../images/ibar_sprites.png) no-repeat 0 -85px; }
  .body-right .foot p:after {
    content: "";
    display: block;
    width: 5px;
    height: 9px;
    position: absolute;
    background: url(../images/ibar_sprites.png) no-repeat 0 -234px;
    right: -5px;
    top: 50%;
    margin-top: -4px; }
  .body-right .foot p {
    transition: left 0.5s;
    display: none;
    top: 0;
    left: -120px;
    font-size: 12px;
    height: 38px;
    line-height: 38px;
    width: 92px;
    position: absolute;
    background: #444851;
    color: #d8d8d8;
    text-align: center;
    z-index: 10; }
  .body-right .foot span {
    margin: 10px 0 0 10px;
    width: 11px;
    height: 24px;
    background: url(../images/ibar_sprites.png) no-repeat -4px -110px; }
  .body-right .right-bottom {
    position: absolute;
    bottom: 0px; }
    .body-right .right-bottom li:nth-of-type(1):hover a {
      background: #ed145b; }
    .body-right .right-bottom li:nth-of-type(2):hover a {
      background: #ed145b; }
      .body-right .right-bottom li:nth-of-type(2):hover a span {
        background-position: -33px -175px; }
      .body-right .right-bottom li:nth-of-type(2):hover a p {
        left: -92px; }
    .body-right .right-bottom li:nth-of-type(3):hover a {
      background: #ed145b; }
      .body-right .right-bottom li:nth-of-type(3):hover a span {
        background-position: -33px -201px; }
      .body-right .right-bottom li:nth-of-type(3):hover a p {
        display: block;
        left: -92px; }
    .body-right .right-bottom li a {
      width: 40px;
      height: 38px;
      display: block; }
    .body-right .right-bottom .ma span {
      margin: 10px 0 0 10px;
      width: 18px;
      height: 18px;
      background: url(../images/ibar_sprites.png) no-repeat 0 -302px; }
    .body-right .right-bottom .kefu p:after {
      content: "";
      display: block;
      width: 5px;
      height: 9px;
      position: absolute;
      background: url(../images/ibar_sprites.png) no-repeat 0 -234px;
      right: -5px;
      top: 50%;
      margin-top: -4px; }
    .body-right .right-bottom .kefu p {
      transition: left 0.5s;
      display: none;
      left: -120px;
      font-size: 12px;
      height: 38px;
      line-height: 38px;
      width: 92px;
      position: absolute;
      background: #444851;
      color: #d8d8d8;
      text-align: center;
      z-index: 10; }
    .body-right .right-bottom .kefu span {
      margin: 10px 0 0 10px;
      width: 15px;
      height: 16px;
      background: url(../images/ibar_sprites.png) no-repeat 0 -175px; }
    .body-right .right-bottom .gobacktop p:after {
      content: "";
      display: block;
      width: 5px;
      height: 9px;
      position: absolute;
      background: url(../images/ibar_sprites.png) no-repeat 0 -234px;
      right: -5px;
      top: 50%;
      margin-top: -4px; }
    .body-right .right-bottom .gobacktop p {
      transition: left 0.5s;
      display: none;
      left: -120px;
      font-size: 12px;
      height: 38px;
      line-height: 38px;
      width: 92px;
      position: absolute;
      background: #444851;
      color: #d8d8d8;
      text-align: center;
      z-index: 10; }
    .body-right .right-bottom .gobacktop span {
      margin: 10px 0 0 10px;
      width: 17px;
      height: 14px;
      background: url(../images/ibar_sprites.png) no-repeat 0px -201px; }

/*# sourceMappingURL=index_right.css.map */
