@charset "utf-8";

.header{
    width: 960px;
    height: 85px;
    margin: 0 auto;
    .header-right{
        padding-top: 35px;
    }
    .logo{
        width:360px;
        height: 85px;
        overflow: hidden;
        float: left;
        background: url(../images/logo_new_v1.jpg) no-repeat top left;
    }
    .top-link-lighting,.top-link-free,.top-link-code{
        height: 31px;
        float: right;
        margin-right: 24px;
        width: 110px;
    }
    .top-link-lighting{
        background: url(../images/header_corn_new_v2.png) no-repeat 0 -64px;
    }
    .top-link-free{
        width: 170px;
        background:url(../images/gild.png);
    }
    .top-link-code{
        background: url(../images/header_corn_new_v2.png) no-repeat 0 0;
    }
}